<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
</head>
<body>
<div class="container">
    <h2>Send OTP</h2>
    <%= form_tag root_path, method: :get, :id=>"role" do %>	
    <div class="form-group">
    <label for="email">Phone No:</label>
    <%= text_field_tag 'OTP',nil,class: "form-control"%>
    </div><br><br>
    <div class="form-group">
    <%= submit_tag 'submit',class:"btn btn-success", :id=>"btnotp"%>
    </div>
    <%end%> 
</div>        
</body>
</html>